<nav class="flex items-center bg-gray-800 p-3 flex-wrap">
  <a href="/" class="p-2 mr-4 inline-flex items-center">
    <svg
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      class="fill-current text-white h-8 w-8 mr-2"
    >
      <path
        d="M12 2c-3.87 0-7 3.13-7 7 0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"
      ></path>
    </svg>
    <span class="text-xl text-white font-bold uppercase tracking-wide"
      >{{ site.title }}</span
    >
  </a>
  <button
    id="nav-toggler"
    class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none"
  >
    <i class="material-icons">menu</i>
  </button>
  <div
    class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto delay-300"
    id="navigation"
  >
    <div
      class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
    >
      <a
        href="/solutions.html"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Solutions</span>
      </a>
      <a
        href="/contact.html"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Contact Us</span>
      </a>
    </div>
  </div>
</nav>
