<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ renderData.title }}
    </title>
    <meta charset="UTF-8"/>
    {% if meta_description %}
      <meta name="description" content="{{meta_description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css"/>
    <script src="/scripts/site.js"></script>
  </head>
  <body>
      {% include "_nav.html" %}
       <div>
        {{ content | safe }}
      <div>
  </body>
</html>